/* Global import */
@import url("global.css");

main {
  margin-left: 20%;
  margin-top: 4%;
  position: absolute;
  overflow: hidden;
  margin-bottom: -10%;
}

.calendar {
  width: 37.5%;
  position: absolute;
  border: 2px solid #526C50;
  box-sizing: border-box;

}

/* Month section styling */
.month {
  padding: 10%;
  width: 80%;
  /* Full width of the container */
  text-align: center;
  background: #FFE8D6;
  border-right: 2px solid #526C50;
  position: relative;
}

/* Month list styling */
.month ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.month ul li {
  color: var(--color-tertiary);
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#year {
  color: #A5A58D;
}


.month .prev {
  font-size: 1rem;
  float: left;
}


.month .next {
  font-size: 1rem;
  float: right;
}


.weekdays {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--color-primary);
  font-size: 1rem;
  width: 100%;
}

.weekdays li {
  color: var(--color-tertiary);
  text-align: center;
  font-weight: bold;
  list-style-type: none;
  flex: 1;
}


.days {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 0;
  background-color: var(--color-primary);
  margin: 0;
  width: 100%;
  height: 150px;
}

.days li {
  list-style-type: none;
  text-align: center;
  width: calc(100% / 7);
  height: 10px;
  line-height: 10px;
  font-size: 1rem;
  color: var(--color-tertiary);
  font-weight: bold;
}

.days li .active {
  padding: 5%;
  background: var(--color-secondary);
}


#event-box {
  background-color: var(--color-primary);
  width: 35%;
  height: 220px;
  margin-top: 35%;
  border: 2px solid var(--color-tertiary);
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 20px;
}

#header {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 5%;
  color: var(--color-tertiary);
  font-weight: bold;
}

#events-table {
  width: 100%;
  border-collapse: collapse;

  display: flex;
  flex-direction: column;

  background-color: #f2f2f2;
}

#events-table tbody {
  display: block;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
  max-height: 110px;
  scrollbar-width: thick;
  scrollbar-color: var(--color-tertiary) var(--color-primary);
  border-radius: 0px;
  background-color: var(--color-primary);
}

#events-table th,
#events-table td {
  padding: 8px;
  text-align: left;
}

#events-table thead,
#events-table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 1%;
}

#date {
  width: 30%;
  padding: 2%;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border: 2px solid var(--color-tertiary);
  padding-right: -2%;

  text-align: center;
}

#tevent {
  width: 70%;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  position: relative;
}

#add-btn {
  display: block;
  margin-top: 5%;
  margin-left: 0px;
  margin-right: 13%;

  padding: 10px 50px;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;

  cursor: pointer;
  transition: background-color 0.3s;
}

#add-btn:hover {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
}

#events-table tbody::-webkit-scrollbar {
  width: 100%;
}

#events-table tbody::-webkit-scrollbar-track {
  background: var(--color-primary);
}

#events-table tbody::-webkit-scrollbar-thumb {
  background: var(--color-primary);
}

#events-table tbody::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}


.delete-btn {
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  border: none;
  cursor: pointer;

  font-size: 0.8rem;

  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.landscape {
  position: absolute;
  right: 17%;
  top: 0%;
  width: 37%;
  /* Increase the width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Align items to the start to place sun at the top */
}

.sun {
  width: 150px;
  height: 150px;
  background-color: #E7B89F;
  border-radius: 50%;
  position: relative;
  margin-top: 35%;
  margin-left: 52.5%;

}

.mountains {
  position: relative;
  height: 100px;
  width: 120%;
}

.mountain {
  width: 0%;
  border-left: 250px solid transparent;
  border-right: 250px solid transparent;
  position: absolute;
  margin-top: 50%;
}

.mountain1 {
  border-bottom: 300px solid #B7B7A4;
  top: 100%;
  right: 5%;
  z-index: -1;
}

.mountain2 {
  border-bottom: 400px solid #A5A58D;
  top: 4%;
  left: 50%;
  z-index: -1;
}

#quote {
  font-size: 20px;
  color: white;
  text-align: right;
  position: absolute;
}