@import url("global.css");

body {
  overflow: hidden;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
}

ul.intro {
  margin: auto;
  position: fixed;
  top: 9%;
  bottom: 9%;
  left: 0;
  right: 0;
  background-color: var(--color-tertiary);
  border: 5px solid var(--color-secondary);
  list-style-type: none;

  width: 80%;
  aspect-ratio: 16/9;

  display: flex;
  flex-direction: column;
  row-gap: 2%;
  justify-content: center;

  text-align: left;
  color: var(--color-primary);
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 14px;
}

.benkyou-text-japan {
  font-size: 70px;
  font-family: "DotGothic16", sans-serif;
}

.benkyou-text {
  font-size: 45px;
}

#small-intro {
  width: 40%;
}

#signin-btn {

  background-color: var(--color-secondary);
  border: none;
  padding: 1.25% 2.5%;

  cursor: pointer;
  transition: background-color 0.3s;

  color: var(--color-primary);
  text-align: center;
}

#signin-btn:not(.disabled):hover {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}

.disabled {
  background-color: #a37c66 !important;
  color: #beaea2;
}


.landscape {
  position: absolute;
  right: 17%;
  top: 0%;
  width: 37%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.sun {
  width: 250px;
  height: 250px;
  background-color: var(--color-secondary);
  border-radius: 50%;
  position: relative;
  margin-top: 15%;
  margin-left: 43%;

}

.mountains {
  position: relative;
  height: 100px;
  width: 120%;
}

.mountain {
  width: 0%;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  position: absolute;
  margin-top: 50%;
  margin-left: 20%;
}

.mountain1 {
  border-bottom: 300px solid #B7B7A4;
  top: 100%;
  left: 10%;
  z-index: 2;

}

.mountain2 {
  border-bottom: 400px solid #A5A58D;
  top: -10%;
  left: 50%;
  z-index: 1;
}